In [1]:
#Task 1

In [2]:
# 1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
#    the given sequence is defined as follows:
#    The moving average sequence has n-k+1 elements as shown below.
#    The moving averages with k=4 of a ten-value sequence (n=10) is shown below
#    i  1 2 3 4 5 6 7 8 9 10
#    ===== == == == == == == == == == ==
#    Input 10 20 30 40 50 60 70 80 90 100
#    y1 25 = (10+20+30+40)/4
#    y2 35 = (20+30+40+50)/4
#    y3 45 = (30+40+50+60)/4
#    y4 55 = (40+50+60+70)/4
#    y5 65 = (50+60+70+80)/4
#    y6 75 = (60+70+80+90)/4
#    y7 85 = (70+80+90+100)/4
#    Thus, the moving average sequence has n-k+1=10-4+1=7 values.

#    Problem Statement:
#    Write a function to find moving average in an array over a window:
#    Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

import numpy as np
def moving_average(lst, k):
    n=len(lst)
    result=[np.sum(lst[i:i+k],dtype=np.float)/k for i in range(n-k+1)]
    return result

lt=[3,5,7,2,8,10,11,65,72,81,99,100,150]
print(moving_average(lt,3))

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [3]:
#Task 2

In [4]:
# 1. How-to-count-distance-to-the-previous-zero
#    For each value, count the difference back to the previous zero (or the start of the Series,
#    whichever is closer)
#    create a new column 'Y'
#    Consider a DataFrame df where there is an integer column 'X'
#    import pandas as pd
#    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

import pandas as pd
            
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Count_Zero_Distance']=0
i=0

for index, row in df.iterrows():    
    if row['X'] != 0:
        i += 1
    else:
        i = 0
    df.at[index, 'Count_Zero_Distance'] = i

df.head(10)

   X  Count_Zero_Distance
0  7                    1
1  2                    2
2  0                    0
3  3                    1
4  4                    2
5  2                    3
6  5                    4
7  0                    0
8  3                    1
9  4                    2

In [5]:
# 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
#    random numbers.

dti=pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2015-01-01    0.017726
2015-01-02    0.984236
2015-01-05    0.331847
2015-01-06    0.078654
2015-01-07    0.293351
2015-01-08    0.053280
2015-01-09    0.012060
2015-01-12    0.242107
2015-01-13    0.612482
2015-01-14    0.860669
2015-01-15    0.669061
2015-01-16    0.479871
2015-01-19    0.415238
2015-01-20    0.614800
2015-01-21    0.775380
2015-01-22    0.745230
2015-01-23    0.723898
2015-01-26    0.438720
2015-01-27    0.286493
2015-01-28    0.828373
2015-01-29    0.100343
2015-01-30    0.450703
2015-02-02    0.060400
2015-02-03    0.120190
2015-02-04    0.023554
2015-02-05    0.630828
2015-02-06    0.725368
2015-02-09    0.169488
2015-02-10    0.494135
2015-02-11    0.846133
                ...
2015-11-20    0.350357
2015-11-23    0.121762
2015-11-24    0.450672
2015-11-25    0.369738
2015-11-26    0.486125
2015-11-27    0.402123
2015-11-30    0.735170
2015-12-01    0.576056
2015-12-02    0.752453
2015-12-03    0.740972
2015-12-04    0.105698
2015-12-07    0.450630
2015-12-08    0.645260
2015-12-09    0.712356
2015-12-10    0.395362
2015-12-11    0.427845
2015-12-14    0.650016
2015-12-15    0.863284
2015-12-16    0.508357
2015-12-17    0.168010
2015-12-18    0.178614
2015-12-21    0.629832
2015-12-22    0.242010
2015-12-23    0.077868
2015-12-24    0.180169
2015-12-25    0.140278
2015-12-28    0.811059
2015-12-29    0.609235
2015-12-30    0.057726
2015-12-31    0.323457
Freq: B, Length: 261, dtype: float64

In [6]:
# 3. Find the sum of the values in s for every Wednesday

print("The Sum of the Values in s for every Wednesday: ",s[dti.weekday == 2].sum())

The Sum of the Values in s for every Wednesday:  25.471864399532265

In [7]:
# 4. Average For each calendar month

s.groupby(dti.month).mean()

1     0.455206
2     0.563608
3     0.452346
4     0.575809
5     0.458230
6     0.353977
7     0.428867
8     0.416023
9     0.594400
10    0.410409
11    0.436284
12    0.445502
dtype: float64

In [8]:
# 5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

def group4ConMonths(val):
    mo = val.name.month
    if (mo <= 4):
        return 1
    elif (mo >= 9):
        return 3
    else:
        return 2

df = s.to_frame(name="Value")
df["4CMG"] = df.apply(group4ConMonths, axis=1)
g4_con_month = df.groupby(['4CMG'])['Value'].transform(max) == df['Value']
df[g4_con_month]["Value"]

2015-01-02    0.984236
2015-05-07    0.970153
2015-09-18    0.999739
Name: Value, dtype: float64